body {
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100vw;
}

html {
  position: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.container {
  display: flex;
  max-width: 600px;
  padding: 24px 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

img,
iframe {
  display: block;
}
